
:root{
    --primary-color: blue;
    --secondary-color: red;
}

body {

}

container /
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.fluid-container {
 
}

.center-container{
    max-width: 600px;
    margin: auto;
}

.link {
text-decoration: none;
}

.primary-link {
 background-color:var(--primary-color); 
 border-radius: 4px;
 color: aliceblue;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}